@keyframes hexShow {
  0%    {transform: scale(0);}
  70%   {transform: scale(1.2);}
  100%  {transform: scale(1);}
}

.hexCont {
  display: inline-block;
  position: relative;
}

.hexCont svg {
  cursor: pointer;
}

.hexAnimate {
  display: block !important;
  animation-name: hexShow;
  animation-duration: .7s;
}

.text {
  text-transform: uppercase;
  font-family: Comfortaa, sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 16px;
  padding: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: 700;
}

.hex1, .hex2, .hex3, .hex4, .hex5, .hex6 {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  fill: #d5d5d5;
}

.hex1 {
  top: 80%;
  left: 47%;
}

.hex2 {
  top: 80%;
  left: -47%;
}

.hex3{
  top: 0;
  left: -94%;
}

.hex4 {
  top: 0;
  left: 93%;
}

.hex5 {
  top: -80%;
  left: -47%;
}

.hex6 {
  top: -80%;
  left: 47%;
}
